.row
  .small-6.columns
    %h2 Seasons
  .small-6.columns.text-right
    = link_to "Create New", new_admin_season_path, class: 'button'

%table.fullwidth
  %tr
    %th Name
    %th Slug
    %th Subscriptions
    %th Places Remaining
    %th Signups open?
    %th
  - @seasons.each do |season|
    %tr
      %td= season.name
      %td= season.slug
      %td
        = season.subscriptions.count
        = precede "(" do
          =succeed ")" do
            =link_to "list", admin_season_subscriptions_path(season)
      %td= season.places_remaining
      %td= season.signups_open
      %td= link_to "Edit", edit_admin_season_path(season)

.row
  =link_to "Back to Dashboard", admin_root_path, class: "button"