%h2 Your Subscriptions
%table.fullwidth
  %tr
    %th Season Name
    %th First Week
    %th Final Week
    %th Your Subscription
    %th Signups Open?
    %th
  - Season.all.each do |season|
    %tr
      %td= season.name
      %td= season.starts_on.try{ |d| d.strftime("%d/%m/%Y") }
      %td= season.ends_on.try{ |d| d.strftime("%d/%m/%Y") }
      %td= get_subscriptions(season)
      %td= season.signups_open
      %td
        -if season.signups_open
          = link_to "Signup Now", new_season_subscription_path(season), class: 'button red'
        -else
          = link_to "Signups Closed", nil, class: 'button disabled'