%h2 Thanks #{@subscription.user.given_name}!

%br

%h3
  You are now signed up for a #{@subscription.frequency} #{Subscription::SIZES[@subscription.box_size][:name]}!

%p
  We will pack you a #{Subscription::SIZES[@subscription.box_size][:name]}
  = @subscription.frequency == "fortnightly" ? "every fortnight" : "each week"
  from the
  %strong= readable_date(@season.first_pack_date_for_subscription(@subscription))
  onwards.
  - if @subscription.delivery?
    Unless we hear from you otherwise before midday on Sunday, we will deliver your box to your address (#{@subscription.full_address}), on #{@subscription.day_of_week.capitalize}s between 12 midday and 5pm.
  - else
    Unless you have made other arrangements with us, you will need to collect your box on Tuesday between 3pm and 5:30pm or Wednesday/Thursday/Friday between 10am and 5:30pm, from our venue at 156-158 Queen Street, Warragul. Please note the terms and conditions for your subscription listed below.

-# - unless Date.today > Date.new(2020, 1, 13)
-#   %p.offset-bottom
-#     Please note that we will be taking a break over the new year period. Our last day for the year will be the
-#     %strong 24th of December
-#     and we will return on the
-#     %strong 14th of January.

%p
  Please don't hesitate to get in touch with us via
  %strong info@bawbawfoodhub.org.au
  if you have any questions or if anything is unclear.

%h3 Payment
%p.offset-bottom
  - if @subscription.delivery?
    As we will be delivering your box, we ask that you pay for it in advance by transferring the amount for your box plus the $10.00 delivery fee into our bank account with your name as the description.

    If you are also paying by EFT for extras ordered through our
    = succeed "," do
      =link_to "online store", 'https://openfoodnetwork.org.au/bawbawfoodhub/shop', target: '_blank'
    please also use your name as the description.
  - else
    You can pay for your box with cash or card (Visa, Mastercard, Debit) when you come to collect your box on the
    = succeed "." do
      = readable_date(@season.first_pack_date_for_subscription(@subscription))
    If you'd like to pre-pay for your box, you are very welcome to transfer the amount for your box into our bank account with your name as the description.
%p
  %strong Bank details:
  %br
  Account Name: Baw Baw Food Hub Inc.
  %br
  Account Number: 153165824
  %br
  BSB: 633-000

%h3 Be a hub Supporting Member!
%p If you become a Baw Baw Food Hub Supporting Member, you will earn a 5% discount on all eligible items for sale at the Hub, with no upper purchase limit. This will provide the Hub with invaluable ongoing support and increase its capacity to champion ecological farming and healthy food. As a Supporting Member you commit to an automatic min $50 weekly payment to the Hub’s account. Note that veggie/fruit boxes, meat and delivery fees are not discounted, but you can use your weekly contribution to pay for these items. Contact us for more details!

%h3 Cancellations
%p
  Sunday midday is the
  %strong cut-off time
  for box cancellations each week.
  - unless @subscription.delivery?
    While we always prefer that you find a friend or family member to come and get your box for you when you cannot, we understand that this is not always possible. A subscription suspension fee will apply (see below) in the event that you need to cancel your box.
%p
  If you
  %strong need
  to cancel your box, please let us know
  = succeed "." do
    %strong before Sunday midday
  Any boxes cancelled after this time will attract a box unpack fee (see below), expect in the case of an emergency.
%p
  If you would like to cancel your box
  = succeed "," do
    %strong permanently
  you can do this at any time, as long as we know by Sunday midday, before the week that you would like to cancel.

%h3 Online Store
%p.offset-bottom
  Our
  = link_to "online store", 'https://openfoodnetwork.org.au/bawbawfoodhub/shop', target: '_blank'
  is open between Thursday afternoon and
  = succeed "." do
    %strong Sunday midday
  We have lots of locally grown and produced extras available to add to your box, such as fruit, yoghurt, bread, butter and honey.
  - if @subscription.delivery?
    If you order items on line, we will automatically add them to your veggie box delivery. Please select delivery when ordering on-line – we will only charge a single delivery fee.

%h3 Terms & Conditions
%ul
  %li The first four subscription boxes will be charged at the casual/trial rate (#{Subscription::SIZES[@subscription.box_size][:trial_price]}). After that, you will automatically receive a $3 subscriber discount every week/fortnight (#{Subscription::SIZES[@subscription.box_size][:price]}).
  %li You can suspend your subscription for up to 4 boxes if you are away - this incurs a one-off $3 administration charge for each suspension period.
  %li You can cancel your subscription at any time before the 12 noon cut-off time on Sunday.
  %li
    You will be charged a $5 unpack fee if you do not collect your box or cancel it too late.
    - if !@subscription.delivery?
      We will unpack your veggie box on Friday unless you let us know that you will collect it on Saturday.

%h3 Opening Hours
%p
  Mon Closed
  %br
  Tue 10am - 5:30pm (Veggie boxes from 3pm - 5:30pm)
  %br
  Wed 10am - 5:30pm
  %br
  Thu 10am - 5:30pm
  %br
  Fri 10am - 5:30pm
  %br
  Sat 10am - 1:00pm
  %br
  Sun Closed

%p
  Thanks for joining us!
%p
  The Baw Baw Food Hub crew.
  %br
  info@bawbawfoodhub.org.au
