.row
  .small-6.columns
    %h2 Sensors
  .small-6.columns.text-right
    = link_to "Create Sensor", new_admin_sensor_path, class: 'button'

%table.fullwidth
  %tr
    %th Identifier
    %th Name
    %th Active?
    %th Range
    %th Latest Reading
    %th Alerts
    %th Edit
  - @sensors.each do |sensor|
    %tr
      %td= sensor.identifier
      %td= sensor.name
      %td= ( sensor.active? ? "Yes" : "No" )
      %td= "#{sensor.lower_limit}°C - #{sensor.upper_limit}°C"
      %td= link_to last_reading_summary_for_sensor(sensor) || "List", admin_sensor_readings_path(sensor)
      %td= link_to sensor.alerts.count, admin_sensor_alerts_path(sensor)
      %td= link_to "Edit", edit_admin_sensor_path(sensor)
