.row
  .small-6.columns
    %h2 Sensors
  .small-6.columns.text-right
    = link_to "Create Sensor", new_admin_sensor_path, class: 'button'

%table.fullwidth
  %tr
    %th Name
    %th Active?
    %th Lower Limit
    %th Upper Limit
    %th Readings
    %th Alerts
    %th Edit
  - @sensors.each do |sensor|
    %tr
      %td= sensor.name
      %td= ( sensor.active? ? "Yes" : "No" )
      %td= sensor.lower_limit
      %td= sensor.upper_limit
      %td= link_to "List", admin_sensor_readings_path(sensor)
      %td= link_to sensor.alerts.count, admin_sensor_alerts_path(sensor)
      %td= link_to "Edit", edit_admin_sensor_path(sensor)
