= recaptcha_form_for([@season, @subscription], recaptcha: { action: 'subscribe'}) do |f|
  = render 'hidden_subscription_fields', f: f

  - if @raw_token
    = hidden_field_tag :raw_token, @raw_token

  = hidden_field :confirmed, true

  %h2 Are you sure you want to sign up for another box?

  %p
    We already have you down for a
    %b= Subscription::SIZES[@existing_subscription.box_size][:name]
    , which you signed up for on the
    %b= readable_date(@existing_subscription.created_at)
    at
    = succeed "." do
      %b= @existing_subscription.created_at.strftime("%H:%M")

  %p
    If you would like to
    %strong change
    you box size, please email us to arrange this.

  %p
    Please don't hesitate to get in touch with us via
    %strong info@bawbawfoodhub.org.au
    if you have any questions or if anything is unclear.

  %br
  .row
    .small-12.medium-6.columns
      = recaptcha_field
      = submit_tag "Yes, continue with signup!", class: 'button radius red left'
    .small-12.medium-6.columns
      = link_to "Oops! No, I don't need another box.", root_path, class: 'button radius right'
