=form_for ([@season, @subscription]) do |f|
  = f.hidden_field :box_size

  = hidden_field :confirmed, true

  %h2 Are you sure you want to sign up for another box?

  %p
    According to our records you already signed up for a
    %b= Subscription::SIZES[@existing_subscription.box_size][:name]
    box for the
    = @season.name
    season, on
    %b= readable_date(@existing_subscription.created_at)
    at
    = succeed "." do
      %b= @existing_subscription.created_at.strftime("%h:%M:%S")

  %p If you meant to sign up for a another box for this season, please click the red button below to finalise your subscription.

  %p Alternatively, if you don't need another box, click the blue button to head back to the home page.

  %p
    Please don't hesitate to get in touch with us via
    %strong info@bawbawfoodhub.org.au
    if you have any questions or if anything is unclear.

  %br
  .row
    .small-12.columns.text-center
      = submit_tag "Yes, I want another box!", class: 'button red'
    .small-12.columns.text-center
      = submit_tag "No, I don't need another box!", class: 'button'
