= render 'shared/error_messages', target: @subscription

=form_for ([@season, @subscription]) do |f|
  .row
    .small-8.columns.small-centered.text-center
      %h2 Choose A Box Size
  .row
    - Subscription::SIZES.each do |k,v|
      .small-4.columns.text-center.chunky
        .panel
          %h4
            = v



          =f.radio_button :box_size, k
          =f.label :box_size, v, value: k, class: 'button'

    .row
      .small-12.columns.text-center
        = first_error_for @subscription, :box_size

  - unless current_user
    %br
    %br
    .row
      .small-12.columns
        %h2 Your details
    =f.fields_for :user, @user do |uf|
      .row
        .small-12.medium-6.columns
          =uf.label :given_name
          =uf.text_field :given_name
          = first_error_for @user, :given_name
        .small-12.medium-6.columns
          =uf.label :surname
          =uf.text_field :surname
          = first_error_for @user, :surname
      .row
        .small-12.medium-6.columns
          =uf.label :email
          =uf.text_field :email
          = first_error_for @user, :email
        .small-12.medium-6.columns
          =uf.label :phone
          =uf.text_field :phone
          = first_error_for @user, :phone
      .row
        .small-12.medium-6.columns
          =uf.label :password
          =uf.password_field :password
          = first_error_for @user, :password
        .small-12.medium-6.columns
          =uf.label :password_confirmation
          =uf.password_field :password_confirmation
          = first_error_for @user, :password_confirmation
      .row
        .small-12.columns.text-center
          %p A password is required so that you can update your info later and subscribe to subsequent seasons with the same account.
  %br
  %br
  .row
    .small-4.small-centered.columns.text-center
      = submit_tag "Sign up!", class: 'button red'