-# render 'shared/error_messages', target: @subscription

- @body_attributes = { 'data-no-turbolink' => true }

:coffeescript
  $(document).on 'page:change page:ready', ->
    $('#address').toggle($("#subscription_delivery").val() == "true")
    $('#subscription_delivery').on 'change', ->
      $('#address').toggle($("#subscription_delivery").val() == "true")

    $('#subscription_frequency').on 'change', ->
      $('#week-fn').text($("#subscription_frequency").val().replace("ly",""))

    $(".size-selector").on 'change', ->
      selector = $(this)
      $('.size-option').each (i,e) ->
        $(e).toggleClass('selected', e.contains(selector.get(0)))



=form_for ([@season, @subscription]) do |f|
  .row.offset-bottom
    .small-8.columns.small-centered.text-center
      %h2 Select A Box Size
      Got Questions? We can
      = succeed '!' do
        = link_to 'help', questions_path, target: '_blank'
  .row{ 'data-equalizer' => true }
    - Subscription::SIZES.each do |key,box|
      .small-12.medium-4.columns.text-center.size-option.chunky
        .panel
          .offset-bottom{ 'data-equalizer-watch' => true }
            %h4= "#{box[:name]} (#{box[:price]})"
            %p= box[:desc]
          =f.radio_button :box_size, key, class: 'size-selector'
          =f.label :box_size, "Select", value: key, class: 'button radius red'

    .row
      .small-12.columns.text-center
        = first_error_for @subscription, :box_size
    .row
      .small-12.columns.text-center
        %p
          You can always change your box size at a later date, as long as you let us know by
          %strong Sunday evening.

  .row
    .small-12.columns
      %h2 Box Options
  .row
    .small-12.medium-6.columns{ class: "#{error_class(@subscription,:delivery)}" }
      =f.label :delivery, "Collection or Delivery?"
      =f.select :delivery, [['Collection from 4/133 North Road, Warragul (Free)', false],['Delivery to Warragul or Drouin ($5.00)', true]]
      = first_error_for @subscription, :delivery
    .small-12.medium-6.columns{ class: "#{error_class(@subscription,:frequency)}" }
      =f.label :frequency, "Weekly or Fortnightly?"
      =f.select :frequency, [['Weekly', 'weekly'],['Fortnightly', 'fortnightly']]
      = first_error_for @subscription, :frequency

  - if @raw_token
    = hidden_field_tag :raw_token, @raw_token

  - unless current_user || @raw_token
    %br
    .row
      .small-12.columns
        %h2 Your Details
    =f.fields_for :user, @user do |uf|
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:given_name)}" }
          =uf.label :given_name
          =uf.text_field :given_name
          = first_error_for @user, :given_name
        .small-12.medium-6.columns{ class: "#{error_class(@user,:surname)}" }
          =uf.label :surname
          =uf.text_field :surname
          = first_error_for @user, :surname
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:email)}" }
          =uf.label :email
          =uf.text_field :email
          = first_error_for @user, :email
        .small-12.medium-6.columns{ class: "#{error_class(@user,:phone)}" }
          =uf.label :phone
          =uf.text_field :phone
          = first_error_for @user, :phone
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:password)}" }
          =uf.label :password do
            Password
            %span.has-tip{ 'data-tooltip' => true, 'aria-haspopup' => true, title: "A password is required so that you can update your subscription details and your personal information." }
              (Why?)
          =uf.password_field :password
          = first_error_for @user, :password
        .small-12.medium-6.columns{ class: "#{error_class(@user,:password_confirmation)}" }
          =uf.label :password_confirmation
          =uf.password_field :password_confirmation
          = first_error_for @user, :password_confirmation

  #address
    .row
      .small-12.columns{ class: "#{error_class(@subscription,:street_address)}" }
        =f.label :street_address, "Street Address (For Delivery)"
        =f.text_field :street_address
        = first_error_for @subscription, :street_address
    .row
      .small-12.medium-6.columns{ class: "#{error_class(@subscription,:town)}" }
        =f.label :town
        =f.text_field :town
        = first_error_for @subscription, :town
      .small-12.medium-6.columns{ class: "#{error_class(@subscription,:postcode)}" }
        =f.label :postcode
        =f.text_field :postcode
        = first_error_for @subscription, :postcode
  %br
  .row
    .small-12.columns.text-center
      %p
        Your first pickup time will be Tuesday the
        %strong= readable_date(@season.first_pack_day_with_lead_time_after(Time.now).pack_date)
        between 3pm and 6pm.
  .row
    .small-8.small-centered.columns.text-center
      %p
        By clicking 'Complete Sign Up' you acknowledge that you are responsible for collecting a vegetable box of your nominated size
        %strong each
        %strong#week-fn week
        from the
        %strong= readable_date(@season.first_pack_day_with_lead_time_after(Time.now).pack_date)
        onwards.

  %br
  .row
    .small-4.small-centered.columns.text-center
      = submit_tag "Complete Sign Up", class: 'button radius red'

%br
%h2 Got Questions?
%h4
  Here are some we get asked a lot, and you can find more in our
  = succeed '.' do
    = link_to "questions section", questions_path, target: '_blank'

%ul.accordion{ data: { accordion: true } }
  %li.accordion-navigation
    %a{:href => "#in-the-box"}
      What's in the veggie boxes?
    .content#in-the-box
      %p
        Veggies! We send out a rough idea of what sort of veggies will be in the boxes in our newsletter each week. You can signup to our newsletter on the
        = succeed "," do
          = link_to "home page", root_path
        and you can check out our
        = link_to "archives", newsletters_path
        for past newsletters.

      %p  We source seasonal vegetables as locally as we possibly can which usually means they are grown in Gippsland. At certain times of the year (esp. late winter, early spring) we do source some produce from further away.

      %p All produce is certified organic, except where it comes from some of our trusted smaller local growers, who grow in an ecologically sensitive way, but are not certified.

  %li.accordion-navigation
    %a{:href => "#casuals"}
      Can I order a one-off box, or do I need get one every week?
    .content#casuals
      .row
        .small-12.medium-8.columns
          We offer "casual" versions of all box sizes, which are available for purchase through our
          = link_to "online store", "https://openfoodnetwork.org.au/bawbawfoodhub/shop", target: "_blank"
          as and when you want one. There is no need to 'sign up' for a casual box, but they cost $3.00 more than a subscriber box.
        .small-12.medium-4.columns.text-right
          = link_to "I'd like a casual box", "https://openfoodnetwork.org.au/bawbawfoodhub/shop", target: "_blank", class: "button"

  %li.accordion-navigation
    %a{:href => "#anybody"}
      Can anybody order a box?
    .content#anybody
      Absolutely. Subscriptions are open to everyone.

  %li.accordion-navigation
    %a{:href => "#collection"}
      When and where can I collect my box? Can I have it delivered?
    .content#collection
      %p Boxes are available for collection from our venue at Unit 4, 133 North Road, Warragul, between 3pm and 6pm on Tuesdays.

      %p We also offer delivery to Warragul and Drouin for a $5.00 fee. Simply select the delivery option on the signup page if you would like your box delivered.

      %p We pack every box to order, and so we need some lead time to harvest produce and place orders with our other local growers. To receive a box on Tuesday, you will need to sign up before midday on Sunday.
