-# render 'shared/error_messages', target: @subscription

- @body_attributes = { 'data-no-turbolink' => true }

:coffeescript
  $(document).on 'turbolinks:load', ->
    updateSummary = ->
      dayOfWeekVal = $("#subscription_day_of_week").val()
      deliveryVal = $("#subscription_delivery").val()
      valid = (dayOfWeekVal == 'tuesday' || dayOfWeekVal == 'wednesday' || dayOfWeekVal == 'thursday')
      valid = valid && (deliveryVal == "true" || deliveryVal == "false")
      $("#summary").toggle(valid)

      return unless valid

      $("#summary #delivery").text(if deliveryVal == "true" then "delivery" else "pickup")
      $("#summary #day_of_week").text(dayOfWeekVal.replace(/^\w/, (c) -> c.toUpperCase()))
      $.each ['tuesday', 'wednesday', 'thursday'], (i, dayOfWeek) ->
        $("#summary #" + dayOfWeek).toggle(dayOfWeekVal == dayOfWeek)

    updateSummary()

    resetDayOfWeek = ->
      delivery = $("#subscription_delivery").val()
      dayOfWeekSelect = $("#subscription_day_of_week")
      disableDow = !(delivery == "true" || delivery == "false")
      dayOfWeekSelect.prop('disabled', disableDow)
      dayOfWeekSelect.empty()
      if disableDow
        dayOfWeekSelect.append($("<option value>Please choose collection or delivery</option>"))
      else
        dayOfWeekSelect.append($("<option value>Please select an option</option>"))

      dayOfWeekOptions =
        wednesday: "Wednesday",
        thursday: "Thursday",

      if $("#subscription_delivery").val() == "true"
        dayOfWeekOptions =
          tuesday: "Tuesday (Warragul, Drouin and Neerim South)",
          wednesday: "Wednesday (Warragul, Yarragon and Trafalgar)",
          thursday: "Thursday (Warragul, Drouin, Bunyip and Garfield)",

      $.each dayOfWeekOptions, (key,value) ->
        $("#subscription_day_of_week").append($("<option></option>").attr("value", key).text(value))

    resetDayOfWeek()

    $('#address').toggle($("#subscription_delivery").val() == "true")
    $('#subscription_delivery').on 'change', ->
      delivery = $("#subscription_delivery").val()
      $('#address').toggle(delivery == "true")

      resetDayOfWeek()

      return updateSummary()

    $('#subscription_day_of_week').on 'change', ->
      updateSummary()

    $('#subscription_frequency').on 'change', ->
      $('#week-fn').text($("#subscription_frequency").val().replace("ly",""))

    $(".size-selector").on 'change', ->
      selector = $(this)
      $('.size-option').each (i,e) ->
        $(e).toggleClass('selected', e.contains(selector.get(0)))

    $("a.toggle_panel").on 'click', (e) ->
      e.preventDefault()
      $(e.target.hash).toggle()

= recaptcha_form_for([@season, @subscription], recaptcha: { action: 'subscribe' }) do |f|
  .row.offset-bottom
    .small-8.columns.small-centered.text-center
      %h2 Select A Box Size
      Got Questions? We can
      = succeed '!' do
        = link_to 'help', questions_path, target: '_blank'
  .row{ 'data-equalizer' => true }
    - Subscription::SIZES.each do |key,box|
      .small-12.medium-4.columns.text-center.size-option.chunky
        .panel
          .offset-bottom{ 'data-equalizer-watch' => true }
            %h4= "#{box[:name]} (#{box[:trial_price]})"
            %p.green
              %strong= "#{box[:price]} after four boxes"
            %p= box[:desc]
          =f.radio_button :box_size, key, class: 'size-selector'
          =f.label :box_size, "Select", value: key, class: 'button radius red'

    .row
      .small-12.columns.text-center
        = first_error_for @subscription, :box_size
    .row
      .small-12.columns.text-center
        %p
          You can always change your box size at a later date, as long as you let us know by
          %strong Sunday evening.

  .row
    .small-12.columns
      %h2 Box Options
  .row
    .small-12.medium-4.columns{ class: "#{error_class(@subscription,:delivery)}" }
      =f.label :delivery, "Collection or Delivery?"
      =f.select :delivery, [['Collection from 158 Queen Street, Warragul (Free)', false],['Delivery ($10.00)', true]], include_blank: 'Please select an option'
      = first_error_for @subscription, :delivery
    .small-12.medium-4.columns{ class: "#{error_class(@subscription,:day_of_week)}" }
      =f.label :day_of_week, "Day of the week"
      =f.select :day_of_week, [], { include_blank: 'Please choose collection or delivery'}
      = first_error_for @subscription, :day_of_week
    .small-12.medium-4.columns{ class: "#{error_class(@subscription,:frequency)}" }
      =f.label :frequency, "Weekly or Fortnightly?"
      =f.select :frequency, [['Weekly', 'weekly'],['Fortnightly', 'fortnightly']], include_blank: 'Please select an option'
      = first_error_for @subscription, :frequency

  - if @raw_token
    = hidden_field_tag :raw_token, @raw_token

  - unless current_user || @raw_token
    %br
    .row
      .small-12.columns
        %h2 Your Details
    =f.fields_for :user, @user do |uf|
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:given_name)}" }
          =uf.label :given_name
          =uf.text_field :given_name
          = first_error_for @user, :given_name
        .small-12.medium-6.columns{ class: "#{error_class(@user,:surname)}" }
          =uf.label :surname
          =uf.text_field :surname
          = first_error_for @user, :surname
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:email)}" }
          =uf.label :email
          =uf.text_field :email
          = first_error_for @user, :email
        .small-12.medium-6.columns{ class: "#{error_class(@user,:phone)}" }
          =uf.label :phone
          =uf.text_field :phone
          = first_error_for @user, :phone
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:password)}" }
          =uf.label :password do
            Password
            %span.has-tip{ 'data-tooltip' => true, 'aria-haspopup' => true, title: "A password is required so that you can update your subscription details and your personal information." }
              (Why?)
          =uf.password_field :password
          = first_error_for @user, :password
        .small-12.medium-6.columns{ class: "#{error_class(@user,:password_confirmation)}" }
          =uf.label :password_confirmation
          =uf.password_field :password_confirmation
          = first_error_for @user, :password_confirmation

  #address
    .row
      .small-12.columns{ class: "#{error_class(@subscription,:street_address)}" }
        =f.label :street_address, "Street Address (For Delivery)"
        =f.text_field :street_address
        = first_error_for @subscription, :street_address
    .row
      .small-12.medium-6.columns{ class: "#{error_class(@subscription,:town)}" }
        =f.label :town
        =f.text_field :town
        = first_error_for @subscription, :town
      .small-12.medium-6.columns{ class: "#{error_class(@subscription,:postcode)}" }
        =f.label :postcode
        =f.text_field :postcode
        = first_error_for @subscription, :postcode
  %br
  .row
    .small-12.columns.text-center
      %p#summary
        Your first
        %span#delivery pickup
        time will be
        %strong#day_of_week Tuesday
        the
        %strong#tuesday= readable_date(@season.first_pack_day_with_lead_time_after(Time.now).pack_date)
        %strong#wednesday= readable_date(@season.first_pack_day_with_lead_time_after(Time.now).pack_date + 1)
        %strong#thursday= readable_date(@season.first_pack_day_with_lead_time_after(Time.now).pack_date + 2)
        between 10am and 5:30pm.
  .row
    .small-12.medium-8.small-centered.columns.text-center
      %p
        By clicking 'Complete Sign Up' you agree to the subscription
        = succeed('.') do
          %a.toggle_panel{ href: '#terms_and_conditions' } terms and conditions
      #terms_and_conditions.panel.text-left{ style: 'display: none'}
        %h3 Terms & Conditions
        %ul
          %li
            You are responsible for collecting a vegetable box of your nominated size
            %strong each
            %strong#week-fn week
            from the
            %strong= readable_date(@season.first_pack_day_with_lead_time_after(Time.now).pack_date)
            onwards.
          %li
            The first four subscription boxes will be charged at the casual/trial rate. After that, you will automatically receive a $3 subscriber discount every week/fortnight.
          %li
            You can suspend your subscription for up to 4 boxes if you are away - this incurs a $3 administration charge for each suspension (see below).
          %li
            You can cancel your subscription at any time (see cut-off times below).
          %li
            You will be charged a $5 unpack fee if you do not collect your box (see below).

  %br
  .row
    .small-4.small-centered.columns.text-center
      = recaptcha_field
      = submit_tag "Complete Sign Up", class: 'button radius red'

%br
%h2 Got Questions?
%h4
  Here are some we get asked a lot, and you can find more in our
  = succeed '.' do
    = link_to "questions section", questions_path, target: '_blank'

%ul.accordion{ data: { accordion: true } }
  %li.accordion-navigation
    %a{:href => "#in-the-box"}
      What's in the veggie boxes?
    .content#in-the-box
      %p
        Veggies! With recent changes in demand and supply, it is difficult to guarantee what will be in the box next week. The weekly newsletter may give some indication of what is in season. You can signup to our newsletter on the
        = succeed "," do
          = link_to "home page", root_path
        and you can check out our
        = link_to "archives", newsletters_path
        for past newsletters.

      %p  We source seasonal vegetables as locally as we possibly can which usually means they are grown in Gippsland. At certain times of the year (esp. late winter, early spring) we do source some produce from further away.

      %p All produce is certified organic, except where it comes from some of our trusted smaller local growers, who grow in an ecologically sensitive way, but may not be certified.

  %li.accordion-navigation
    %a{:href => "#casuals"}
      Can I order a one-off box, or do I need get one every week/fortnight?
    .content#casuals
      .row
        .small-12.medium-8.columns
          We offer "casual" versions of all box sizes, which are available for purchase through our
          = link_to "online store", "https://openfoodnetwork.org.au/bawbawfoodhub/shop", target: "_blank"
          as and when you want one. There is no need to 'sign up' for a casual box, but they cost $3.00 more than a subscriber box. The $3.00 subscriber discount starts after your have collected your fourth veggie box after signing up.
        .small-12.medium-4.columns.text-right
          = link_to "I'd like a casual box", "https://openfoodnetwork.org.au/bawbawfoodhub/shop", target: "_blank", class: "button"

  %li.accordion-navigation
    %a{:href => "#anybody"}
      Can anybody order a box?
    .content#anybody
      Absolutely. Subscriptions and casual boxes are open to everyone.

  %li.accordion-navigation
    %a{:href => "#collection"}
      When and where can I collect my box? Can I have it delivered?
    .content#collection
      %p Boxes are available for collection from our venue at 158 Queen Street, Warragul, between 12 midday and 5pm on Wednesdays and Thursdays.

      %p We also offer delivery to a rage of locations in West Gippsland for a $10.00 fee, on Tuesdays, Wednesdays and Thursdays. The current schedule is:

      %p
        %ul
          %li Tuesday: Warragul, Drouin and Neerim South
          %li Wednesday: Warragul, Yarragon and Trafalgar
          %li Thursday: Warragul, Drouin, Bunyip and Garfield

      %p Simply select the delivery option on the signup page if you would like your box delivered. You can also arrange for casual delivery to these locations if you let us know by Sunday midday for the coming week.

      %p We only pack boxes that are pre-ordered and we need some lead time to harvest produce and place orders with our other local growers. To receive a box on Tuesday, Wednesday or Thursday, you will need to sign up before midday on Sunday.

  %li.accordion-navigation
    %a{:href => "#forgot"}
      I forgot to collect my box!
    .content#forgot
      %p Please get in touch with us as soon as possible, chances are we have been trying to call or text you. You can get a hold of Janette on 0498 043 433. If we have not heard from you by 5pm on Thursday, our policy is to donate some of the contents to Baw Baw Combined Churches food relief while it is still fresh.

      %p Unpacking your box will attract a $5 unpack fee when you next collect items at the Food Hub. We are a non-profit and cannot afford to cover the administrative cost associated with uncollected boxes. We hope you can understand our position.

  %li.accordion-navigation
    %a{:href => "#away"}
      I will be away for a week (or two), what should I do?
    .content#away
      %p Our preferred option is always that you please organise a friend or family member to collect your box when you are not able to. We understand that this is not always possible so we can accept requests to temporarily suspend your subscription up until the Sunday midday cut-off time.

      %p
        You can suspend your subscription for up to four consecutive boxes. You will be charged a one-off $3 suspension administration fee when you collect your next box at the end of the suspension. If you need to suspend your subscription, you must let us know via email
        = succeed('.') do
          %strong before Sunday midday
        Any boxes cancelled after this time may be charged a $5 unpack fee, except in the case of an unforeseeable emergency.
