-# render 'shared/error_messages', target: @subscription

.row
  .small-8.columns.small-centered.text-center
    %h2 Signing up for #{@season.name}

    %p
      The #{@season.name} season will run from the
      %strong= readable_date(@season.next_pack_with_lead_time_from(Time.now).pack_date)
      until the
      =succeed "." do
        %strong= readable_date(@season.last_pack.pack_date)

=form_for ([@season, @subscription]) do |f|
  .row
    .small-8.columns.small-centered.text-center
      %h2 Choose A Box Size
  .row{ 'data-equalizer' => true }
    - Subscription::SIZES.each do |key,box|
      .small-12.medium-4.columns.text-center.chunky
        .panel
          .offset-bottom{ 'data-equalizer-watch' => true }
            %h4= "#{box[:name]} (#{box[:price]})"
            %p= box[:desc]
          =f.radio_button :box_size, key
          =f.label :box_size, "Choose", value: key, class: 'button'

    .row
      .small-12.columns.text-center
        = first_error_for @subscription, :box_size
    .row
      .small-12.columns.text-center
        %p
          Remember that you can always change your box size at a later date, as long as you let us know by
          %strong Sunday evening.

  - if @raw_token
    = hidden_field_tag :raw_token, @raw_token

  - unless current_user || @raw_token
    %br
    .row
      .small-12.columns
        %h2 Your details
    =f.fields_for :user, @user do |uf|
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:given_name)}" }
          =uf.label :given_name
          =uf.text_field :given_name
          = first_error_for @user, :given_name
        .small-12.medium-6.columns{ class: "#{error_class(@user,:surname)}" }
          =uf.label :surname
          =uf.text_field :surname
          = first_error_for @user, :surname
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:email)}" }
          =uf.label :email
          =uf.text_field :email
          = first_error_for @user, :email
        .small-12.medium-6.columns{ class: "#{error_class(@user,:phone)}" }
          =uf.label :phone
          =uf.text_field :phone
          = first_error_for @user, :phone
      .row
        .small-12.medium-6.columns{ class: "#{error_class(@user,:password)}" }
          =uf.label :password do
            Password
            %span.has-tip{ 'data-tooltip' => true, 'aria-haspopup' => true, title: "A password is required so that you can update your info later and subscribe to subsequent seasons with the same account." }
              (Why?)
          =uf.password_field :password
          = first_error_for @user, :password
        .small-12.medium-6.columns{ class: "#{error_class(@user,:password_confirmation)}" }
          =uf.label :password_confirmation
          =uf.password_field :password_confirmation
          = first_error_for @user, :password_confirmation
  %br
  .row
    .small-12.columns.text-center
      %p
        Your first pickup time for this season will be Tuesday the
        %strong= readable_date(@season.next_pack_with_lead_time_from(Time.now).pack_date)
        between 4pm and 6pm.
  .row
    .small-8.small-centered.columns.text-center
      %p
        By clicking 'Sign up' you acknowledge that you are responsible for collecting a vegetable box of your nominated size
        %strong each week
        from the
        %strong= readable_date(@season.next_pack_with_lead_time_from(Time.now).pack_date)
        until the
        =succeed "." do
          %strong= readable_date(@season.last_pack.pack_date)
  %br
  .row
    .small-4.small-centered.columns.text-center
      = submit_tag "Sign up!", class: 'button red'
