%h2 Hi #{@subscription.user.given_name}!

%br

%h3
  We'd like to invite you to sign up for the #{@season.name} season!

%p
  To make this process easier, we've created a special link just for you which will make signing up
  %b super
  fast.

%br

= link_to "Take me to the quick signup!", new_season_subscription_url(@season, raw_token: @raw_token), class: "button"

%br
%br

%p
  Bear in mind that this link is only for you and will only work once, so if you'd like to invite your friends/family to sign up as well, please send them to the public sign-up page for the
  = @season.name
  season:

%p
  = link_to season_url(@season), season_url(@season)

%p
  Thanks!
%p
  Lynda, Liz, Rob, Lloyd and the whole Baw Baw Food Hub crew.
  %br
  info@bawbawfoodhub.org.au
