%h2 Hi #{@subscription.user.given_name}!

%br

%h3
  The #{@season.name} begins very soon and we'd love for you to join us! It will run for #{@season.pack_days.count} weeks in total, from the
  %strong= readable_date(@season.first_pack_day.pack_date)
  until the
  =succeed "." do
    %strong= readable_date(@season.last_pack_day.pack_date)

%p
  Please take a moment to let us know your intentions by using the appropriate link below (it's
  %strong super
  fast, we promise), or by getting in touch with us via email at: info@bawbawfoodhub.org.au

%p
  Use this link to rollover your subscription for a
  =succeed "." do
    %strong= Subscription::SIZES[@subscription.box_size][:name]

= link_to "Continue With A #{Subscription::SIZES[@subscription.box_size][:name]}", new_season_subscription_url(@season, raw_token: @raw_token, box_size: @subscription.box_size), class: "button blue"

%br

%p
  If you would like to change sizes, you can let us know your new preferred box size for here:

= link_to "Choose A Different Box Size", new_season_subscription_url(@season, raw_token: @raw_token), class: "button blue"

%br

%p Alternatively, you can cancel your subscription here:

= link_to "Please Cancel My Subscription", cancel_rollovers_url(raw_token: @raw_token), class: "button red"

%p
  If we do not hear from you before the beginning of the season we will assume that you wish to continue your subscription for a
  =succeed "." do
    %strong= Subscription::SIZES[@subscription.box_size][:name]

%br

%p
  Bear in mind that these links are only for you as a current subscriber and will only work once, so if you'd like to invite your friends/family to sign up as well, please send them to the public sign-up page for the
  = @season.name
  season:

%p
  = link_to season_url(@season), season_url(@season)

%p
  Thanks!
%p
  Lynda, Liz, Rob, Lloyd and the whole Baw Baw Food Hub crew.
  %br
  info@bawbawfoodhub.org.au
