%h2 Users
%table.fullwidth
  %tr
    %th Given name
    %th Surname
    %th Email
    %th Phone
    %th Subscriptions
    %th Edit
  - @users.each do |user|
    %tr
      %td= user.given_name
      %td= user.surname
      %td= user.email
      %td= user.phone
      %td
        = user.subscriptions.count
        = precede "(" do
          =succeed ")" do
            = link_to "list", admin_user_subscriptions_path(user)
      %td= link_to "Edit", edit_admin_user_path(user)
