%table.fullwidth
  %tr
    - if @user
      %th Season
    - else
      %th Given Name
      %th Surname
      %th Email
      %th Phone
    %th Box Size
    %th Subscription Date
    %th Delivery?
    %th Day
    %th Frequency
    %th Edit
  - @subscriptions.each do |subscription|
    %tr
      - if @user
        %td= subscription.season.name
      - else
        %td= subscription.user.given_name
        %td= subscription.user.surname
        %td= subscription.user.email
        %td= subscription.user.phone
      %td= Subscription::SIZES[subscription.box_size][:name]
      %td= subscription.created_at.try{ |d| d.strftime("%d/%m/%Y %H:%M:%S") }
      %td
        - if subscription.delivery?
          %span.has-tip{ 'data-tooltip' => true, 'aria-haspopup' => true, title: subscription.full_address }
            Yes
        - else
          No
      %td= subscription.day_of_week.capitalize
      %td= subscription.frequency.capitalize
      %th= link_to "Edit", edit_admin_subscription_path(subscription)
