%h2 Subscriptions for #{@season.name} (#{@subscriptions.count} total)
%table.fullwidth
  %tr
    %th Given Name
    %th Surname
    %th Email
    %th Phone
    %th Box Size
    %th Subscription Date
  - @subscriptions.each do |subscription|
    %tr
      %td= subscription.user.given_name
      %td= subscription.user.surname
      %td= subscription.user.email
      %td= subscription.user.phone
      %td= Subscription::SIZES[subscription.box_size][:name]
      %td= subscription.created_at.try{ |d| d.strftime("%d/%m/%Y %H:%M:%S") }

.row
  =link_to "Back to Seasons", admin_seasons_path, class: "button"
.row
  =link_to "Back to Dashboard", admin_root_path, class: "button"
