.row
  .small-12.medium-6.columns
    %h2 Subscriptions
    - if @user
      %h5 For #{@user.given_name} #{@user.surname} (#{@subscriptions.count} total)
    - elsif @season
      %h5 For #{@season.name} (#{@subscriptions.count} total)
  .small-12.medium-6.columns.text-right
    - if @user
      = link_to "Create New", new_admin_subscription_path(user_id: @user), class: "button"
    - if @season
      = link_to "Create New", new_admin_subscription_path(season_id: @season), class: "button"
      = link_to "Rollover This List", admin_season_rollovers_new_multiple_path(@season), class: "button red"
%table.fullwidth
  %tr
    - if @user
      %th Season
    - elsif @season
      %th Given Name
      %th Surname
      %th Email
      %th Phone
    %th Box Size
    %th Subscription Date
    %th Edit
  - @subscriptions.each do |subscription|
    %tr
      - if @user
        %td= subscription.season.name
      - elsif @season
        %td= subscription.user.given_name
        %td= subscription.user.surname
        %td= subscription.user.email
        %td= subscription.user.phone
      %td= Subscription::SIZES[subscription.box_size][:name]
      %td= subscription.created_at.try{ |d| d.strftime("%d/%m/%Y %H:%M:%S") }
      %th= link_to "Edit", edit_admin_subscription_path(subscription)
