.row
  .small-12.medium-6.columns
    %h2 Subscriptions
    - if @user
      %h5 For #{@user.given_name} #{@user.surname} (#{@subscriptions.count} total)
    - elsif @season
      %h5 For #{@season.name} (#{@subscriptions.count} total)
  .small-12.medium-6.columns.text-right
    - if @user
      = link_to "Create New", new_admin_subscription_path(user_id: @user), class: "button"
    - if @season
      = link_to "Create New", new_admin_subscription_path(season_id: @season), class: "button"

= render 'table'
