%h2 Subscriptions for #{@season.name} (#{@subscriptions.count} total)

%br

=form_tag create_multiple_admin_season_rollovers_path(@season), method: :put do |f|
  =label_tag :target_season_id, "Rollover to:"
  =collection_select nil, :target_season_id, Season.where(signups_open: true), :slug, :name, selected: current_season.slug

  %table.fullwidth
    %tr
      %th Given Name
      %th Surname
      %th Email
      %th Box Size
      %th Invite?
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.user.given_name
        %td= subscription.user.surname
        %td= subscription.user.email
        %td= Subscription::SIZES[subscription.box_size][:name]
        %td= check_box_tag 'subscription_ids[]', subscription.id, false

  = submit_tag "Create Rollover List", class: "button red left"

  = link_to "Cancel", admin_season_subscriptions_path(@season), class: "button right"
