%nav.top-bar{ role: "navigation", 'data-topbar' => true }
  %ul.title-area
    %li.name
      %h1
        %a{ href:"#{root_path}" }
          %i.bbfh-sprout
          HOME
    %li.toggle-topbar.menu-icon
      %a{ href:"#" }
        %span
  %section.top-bar-section
    %ul.right
      - if @cms_site
        - if cms_page('about').present?
          - children = cms_page('about').children.published
          %li.has-dropdown
            %a{ href: children.first.full_path } About
            %ul.dropdown
              - children.each do |child_page|
                %li
                  %a{ href: child_page.full_path }= child_page.label
        - if cms_page('get-involved').present?
          %li
            %a{ href: cms_page('get-involved').full_path } Get Involved
        - if cms_page('producers').present?
          %li
            %a{ href: cms_page('producers').full_path } Producers
        - if Faq.any?
          %li
            %a{ href: questions_path } Questions?
      - if user_signed_in?
        %li.has-dropdown.auth
          = link_to user_root_path do
            = icon('user')
            My Account
          %ul.dropdown
            %li
              = link_to destroy_user_session_path, method: :delete, class: "logout" do
                Logout
      - else
        %li.auth
          = link_to new_user_session_path, class: "login" do
            = icon('lock')
            Login
