.contain-to-grid
  %nav.top-bar{ role: "navigation", 'data-topbar' => true }
    %ul.title-area
      %li.name
        %h1
          %a{ href:"#{root_path}" }
            =icon('home')
            HOME
      %li.toggle-topbar.menu-icon
        %a{ href:"#" }
          %span
    %section.top-bar-section
      %ul.left
        - if @cms_site
          - @cms_site.pages.root.children.published.select{ |p| p.slug.in? ['about','local-food','get-involved','resources','producers'] }.each do |page|
            - if page.children.published.any?
              %li.has-dropdown
                %a{ href:"#{page.children.published.first.full_path}" }
                  %i{ class: "#{icon_class(page.label)}" }
                  = page.label.upcase
                %ul.dropdown
                  - page.children.published.each do |child_page|
                    %li
                      %a{ href: "#{child_page.full_path}" }
                        = child_page.label
            - else
              %li
                %a{ href: "#{page.full_path}" }
                  %i{ class: "#{icon_class(page.label)}" }
                  = page.label.upcase
