%html
  %head
    %title Baw Baw Organics
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - @cms_site.pages.root.children.published.each do |page|
      = link_to page.label, page.full_path

    = yield