%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Baw Baw Food Hub"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

    %link{ href: 'http://fonts.googleapis.com/css?family=Montserrat:400,700', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel: 'stylesheet', type: 'text/css' }

  %body{ :style => "font-family: sans-serif" }
    .header
      .auth
        - if admin_signed_in?
          = link_to destroy_admin_session_path, method: :delete do
            = icon('user')
            Logout
        - else
          %a.login{ href: "#{new_admin_session_path}" }
            = icon('lock')
            Login
      .title
        .row
          .small-12.columns.center
            .big
              %a{ href: "/"} BAW BAW FOOD HUB
        .row
          #tagline.small-12.columns.center
            %span Sourcing fresh produce from across West Gippsland

    .nav-bar
      .row
        - @cms_site.pages.root.children.published.each do |page|
          - case page.label
          - when "About"
            - icon_class = 'fa fa-users'
          - when "Local Food"
            - icon_class = 'bbfh-eggplant'
          - when "Get Involved"
            - icon_class = 'fa fa-exchange'
          - when "Resources"
            - icon_class = 'fa fa-book'
          - when "Producers"
            - icon_class = 'bbfh-producer'
          - if page.children.published.any?
            .button.dropdown{ 'data-dropdown' => "drop_#{page.slug}", 'data-options' => "is_hover: true" }
              %i{ class: "#{icon_class}" }
              = page.label.upcase
            %ul.f-dropdown{ :id => "drop_#{page.slug}", 'data-dropdown-content' => true }
              - page.children.published.each do |child_page|
                %li
                  %a{ href: "#{child_page.full_path}" }
                    = child_page.label
          - else
            %a.button{ href: "#{page.full_path}" }
              %i{ class: "#{icon_class}" }
              = page.label.upcase

    .row
      .small-12.columns
        - if flash[:notice]
          .notice.row
            = flash[:notice]
        -if flash[:alert]
          .alert.row
            = flash[:alert]
      .small-12.columns{ style: "padding-top: 10px" }
        .row.content
          = yield
