%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Baw Baw Organics"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body{ :style => "font-family: sans-serif" }
    .top-spacer
      - if logged_in?
        %a.logout{ href: '/logout'}
          = icon('user')
          Logout
      - else
        %a.login{ href: '/login' }
          = icon('lock')
          Login
    .row
      %h1.small-12.columns.large-centered{ :style => "text-align:center" }
        %a{ href: "/"} BAW BAW ORGANICS

    .row
      - @cms_site.pages.root.children.published.each do |page|
        - if page.children.published.any?
          %a.button.dropdown.small-2.columns{ href: "#{page.full_path}", 'data-dropdown' => "drop_#{page.label}", 'data-options' => "is_hover: true" }
            = page.label.upcase
          %ul.f-dropdown{ :id => "drop_#{page.label}", 'data-dropdown-content' => true }
            - page.children.published.each do |child_page|
              %li
                %a{ href: "#{child_page.full_path}" }
                  = child_page.label
        - else
          %a.button.small-2.columns{ href: "#{page.full_path}" }
            = page.label.upcase

    .row
      .small-12.columns
        - if flash[:notice]
          .notice.row
            = flash[:notice]
        -if flash[:alert]
          .alert.row
            = flash[:alert]
      .small-12.columns{ style: "padding-top: 10px" }
        .row
          = yield

    = javascript_include_tag "application"
